html {
    scroll-behavior: smooth;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: black;
  }

  .navbar {
    overflow: hidden;
    background-color: none;
  }

  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif, 'roboto';
    transition: 0.5s;
    margin-top: 10px;
  }

  .navbar a:hover {
    color: gray;
  }

  .navbar a.2 {
    float: right;
  }

  a.signup {
    border-radius: 5px;
    padding: 12px;
    border: 1px, solid, white;
    font-family: sans-serif, 'roboto';
    color: white;
    background-color: black;
  }

  a.signin {
    border: none;
    padding: 12px;
    font-family: sans-serif, 'roboto';
    color: white;
    background-color: black;
  }

  button.signin {
    cursor: pointer;
  }

  button.signup:hover {
    cursor: pointer;
  }

  .header {
    background-color: black;
    padding-bottom: 3px;
  }

  h1.top {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 64px;
    padding: none;
  }

  p.top {
    font-family: 'Noto Sans', sans-serif;
    color: #616161;
    font-size: 20px;
    margin-top: -25px;
    margin-bottom: 25px;
  }

  .email {
    position: relative;
  }

  .email input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    padding-left: 25px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
  }

  button.newsletter {
    border: none;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 8px;
    font-weight: 600;
    transition-duration: 0.5s;
  }

  button.newsletter:hover {
    cursor: pointer;
    background-color: #34aade;
    color: black;
  }

  hr.home {
    border-top: 0.5px, solid, white;
    margin-right: 7vw;
    margin-top: 20vh;
  }

  .container {
    display: flex;
    background-color: none;
    align-content: center;
    align-self: center;
  }

  .container > div {
    background-color: none;
    padding: 20px;
    color: white;
    font-family: 'Noto sans', sans-serif;
  }

  .container2 {
    display: flex;
  }

  .container2 > div {
    background-color: none;
  }

  .shogiboard {
    width: 34vw;
    margin-top: 13vh;
    margin-left: 20px;
    margin-right: 7vw;
  }

/* Shogi Pieces Animations */

  #pawn1bottom {
    animation: pawn1 1.2s linear alternate infinite;
    animation-delay: 0s;
}

  @keyframes pawn1 {
    from {
      transform: translateY(0%);
  }

    to {
      transform: translateY(-10.6%);
  }
}


  #pawn2bottom {
    animation: pawn2 1.2s linear alternate infinite;
    animation-delay: 0.2s;
  }

  @keyframes pawn2 {
    from {
      transform: translateY(0%);
  }

    to {
      transform: translateY(-10.6%);
  }
}

  #pawn3bottom {
    animation: pawn3 1.2s linear alternate infinite;
    animation-delay: 0.4s;
  }

  @keyframes pawn3 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #pawn4bottom {
    animation: pawn4 1.2s linear alternate infinite;
    animation-delay: 0.6s;
  }

  @keyframes pawn4 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #pawn5bottom {
    animation: pawn5 1.2s linear alternate infinite;
    animation-delay: 0.8s;
  }

  @keyframes pawn5 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #pawn6bottom {
    animation: pawn6 1.2s linear alternate infinite;
    animation-delay: 1s;
  }

  @keyframes pawn6 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #pawn7bottom {
    animation: pawn7 1.2s linear alternate infinite;
    animation-delay: 1.2s;
  }

  @keyframes pawn7 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #pawn8bottom {
    animation: pawn8 1.2s linear alternate infinite;
    animation-delay: 1.4s;
  }

  @keyframes pawn8 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #pawn9bottom {
    animation: pawn9 1.2s linear alternate infinite;
    animation-delay: 1.6s;
  }

  @keyframes pawn9 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #bishop2bottom {
    animation: bishop2 1.2s linear alternate infinite;
    animation-delay: 0.2s;
  }

  @keyframes bishop2 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #rook8bottom {
    animation: rook8 1.2s linear alternate infinite;
    animation-delay: 1.4s;
  }

  @keyframes rook8 {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #lance1bottom {
    animation: lance1b 1.2s linear alternate infinite;
    animation-delay: 0s;
  }

  @keyframes lance1b {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #lance9bottom {
    animation: lance9b 1.2s linear alternate infinite;
    animation-delay: 1.6s;
  }

  @keyframes lance9b {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #knight2bottom {
    animation: knight2b 1.2s linear alternate infinite;
    animation-delay: 0.2s;
  }

  @keyframes knight2b {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #silver3bottom {
    animation: silver3b 1.2s linear alternate infinite;
    animation-delay: 0.4s;
  }

  @keyframes silver3b{
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #gold4bottom {
    animation: gold4b 1.2s linear alternate infinite;
    animation-delay: 0.6s;
  }

  @keyframes gold4b {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #king5bottom {
    animation: kingb 1.2s linear alternate infinite;
    animation-delay: 0.8s;
  }

  @keyframes kingb {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #gold6bottom {
    animation: gold6b 1.2s linear alternate infinite;
    animation-delay: 1s;
  }

  @keyframes gold6b {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #silver7bottom {
    animation: silver7b 1.2s linear alternate infinite;
    animation-delay: 1.2s;
  }

  @keyframes silver7b {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #knight8bottom {
    animation: knight8b 1.2s linear alternate infinite;
    animation-delay: 1.4s;
  }

  @keyframes knight8b {
    from {
      transform: translateY(0%);
    }

    to {
      transform: translateY(-10.6%);
    }
  }

  #home1 {
    height: auto;
  }

  #home2 {
    height: 100%;
    background-color: white;
  }

  @media only screen and (max-width: 1000px) {

      .header {
        padding-right: 7vw;
      }

      .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

      .container2 > div {
        background-color: none;
      }

      .shogiboard {
        width: 50vw;
        margin-left: 12vw;
        align-self: center;
      }
  }

  ul {
    margin-top: 25px;
    text-align: center;
  }

  ul li {
    display: inline-block;
    margin: 20px;
  }

  .arrow {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(135deg);
  }
